{% extends 'base.html.twig' %}

{% block title %}Votre profil
{% endblock %}

{% block body %}
	<div class="container mx-auto py-10">
		<div class="flex flex-col justify-center items-center">
			<h1 class="text-3xl text-blue font-bold pb-5">
				Votre profil
			</h1>
		
		{% for profile in profiles %}
		
		{% if user.profile is not defined %}
			<img src="{{ asset('uploads/profiles/' ~ profile.picture) }}" alt="Image du profil" class="object-cover object-center rounded-full h-48 w-48 border border-brown">
				<p class ="text-brown">
					{{ profile.description }}
				</p>
		
			{% for flashError in app.flashes ('error') %}
				<div class='text-red'>
					{{ flashError }}
				</div>
			{% endfor %}

			{% for flashSuccess in app.flashes ('success') %}
				<div class='text-green'>
					{{ flashSuccess }}
				</div>
			{% endfor %}

		<a href="{{ path('app_profile_edit') }}">
			<button class="bg-white border border-blue rounded-full text-blue w-48 py-3 mt-5">
				Editer
			</button>
		</a>

	{% else %}

		<a href="{{ path('app_profile_new') }}">
			<button class="bg-white border border-blue rounded-full text-blue w-48 py-3 mt-5">
				Créer votre profil
			</button>
		</a>

	{% endif %}
{% endfor %}
		</div>
	</div>
{% endblock %}
