{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container mx-auto py-10">
		<div class="flex flex-col justify-center items-center text-center">
			<form method="post">

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<h2 class="text-3xl text-blue font-bold pb-5">Login</h2>

				{% if error %}
					<div class="text-red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control border ps-5 py-2 w-full my-2 me-1" autocomplete="email" placeholder="Enter your email adress" required autofocus>

				<input type="password" name="password" id="inputPassword" class="form-control border ps-5 py-2 w-full my-2 me-1" placeholder="Enter your password" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="btn bg-blue border-2 border-blue rounded-full text-white px-10 py-3" type="submit">
					Login
				</button>
			</form>
		</div>
	</div>
{% endblock %}
