{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container mx-auto py-10">
		<div class="flex flex-col justify-center items-center text-center">

			<form method="post">

				<h2 class="text-3xl text-blue font-bold pb-5">Se connecter</h2>

				{% if error %}
					<div class="text-red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="border border-brown rounded-lg w-9/12 ps-3 py-2 mb-3" autocomplete="email" placeholder="Entrez votre adresse e-mail" required autofocus>

				<input type="password" name="password" id="inputPassword" class="border border-brown rounded-lg w-9/12 ps-3 py-2 mb-3" placeholder="Entrez votre mot de passe" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="btn bg-blue border border-blue rounded-full text-white w-48 py-3 m-2" type="submit">
					Se connecter
				</button>
			</form>

			<p class = "text-brown">
				<a href="{{ path("app_forgot_password_request") }}" class="no-underline hover:underline">Mot de passe perdu ?</a>
			</p>
			
			<p class = "text-brown">
				Pas de compte ? <a href="{{ path("app_register") }}" class="no-underline hover:underline">S'inscrire</a>
			</p>
		</div>
	</div>
{% endblock %}
