{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mx-auto py-10">
		<div class="flex md:flex-row flex-col-reverse justify-center items-center">
			<div class="basis-1/3 text-center md:text-left mt-10 mx-2 md:m-5">
				<h1 class="font-neuton text-4xl md:text-5xl text-blue font-bold text-center md:text-left mb-2">
					<div class="flex flex-col">
						<div class="pe-2">Bienvenue sur</div> 
						<div>mon site web</div>
					</div>
				</h1>
				<p class="text-brown pb-5">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>

				<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
					Découvrir
				</button>
			</div>
			<div class="basis-1/1">
				<img class="w-64 md:w-96 shadow-[20px_20px_0px_0px_#84a59d]" src="{{ asset("img/portrait.jpg") }}" alt="Portrait May-Dia">
			</div>
		</div>
	</div>

	<div class="container mx-auto py-10">
		<div class="flex md:flex-row flex-col justify-center items-center">
			<div class="basis-1/1">
				<img class="w-64 md:w-96 shadow-[-20px_20px_0px_0px_#84a59d]" src="{{ asset("img/Image_about.jpg") }}" alt="Entraide">
			</div>

			<div class="basis-1/3 text-center md:text-left mt-10 mx-2 md:m-5">
				<h2 class="font-neuton text-3xl md:text-4xl text-blue font-bold pb-5">
					A propos
				</h2>
				<p class="text-brown pb-5">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>

				<div class="flex md:flex-row flex-col justify-center items-center">
				<button class="bg-white border border-blue rounded-full text-blue w-48 py-3 m-2">
					En savoir plus
				</button>
				<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
					Prendre un RDV
				</button>
				</div>
				
			</div>
		</div>
	</div>

	<div class="container mx-auto flex flex-col justify-center items-center py-10">
		<h2 class="font-neuton text-3xl md:text-4xl text-blue font-bold text-center">
			Avis clients
		</h2>

		<div class="flex md:flex-row flex-col justify-center items-center py-5">
			{% for review in reviews | slice(0,1) %}
				<div class="basis-1/1">
					<img class="w-44 md:w-48 rounded-full max-w-full" src="{{ asset(review.picture) }}" alt="Photo de profil avis client">
				</div>

				<div class="basis-1/3 text-center md:text-left mt-10 mx-2 md:m-5">
					<h3 class="font-neuton text-3xl text-blue font-bold">
						{{ review.name }}
					</h3>

					<p class="text-brown">
						{{ review.text }}
					</p>
				</div>
			{% endfor %}
		</div>
		<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
			Prendre un rendez-vous
		</button>
	</div>

	<div class="container md:mx-auto md:w-9/12 flex flex-col justify-center pt-10 pb-12">
		<h2 class="font-neuton text-3xl md:text-4xl text-blue font-bold text-center mb-2">
			<div class="flex md:flex-row flex-col items-center justify-center">
				<div class="pe-2">Une demande ?</div> 
				<div>Une question ?</div>
			</div>
		</h2>
	{% include "contact/form.html.twig" %}
	</div>
{% endblock %}