{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container mx-auto py-10">
		<div class="flex flex-col justify-center items-center text-center">
			{% for flash_error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}

			<h2 class="text-3xl text-blue font-bold pb-5">Register</h2>

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}

            {{ form_widget(registrationForm.firstName, {
                'attr': {
                    'class': 'border ps-5 py-2 w-full my-2 me-1',
                    'placeholder': 'Enter your first name',
                }
            }) }}
            
            {{ form_widget(registrationForm.lastName, {
                'attr': {
                    'class': 'border ps-5 py-2 w-full my-2 me-1',
                    'placeholder': 'Enter your last name',
                }
            }) }}

            {{ form_widget(registrationForm.phoneNumber, {
                'attr': {
                    'class': 'border ps-5 py-2 w-full my-2 me-1',
                    'placeholder': 'Enter your phone number',
                }
            }) }}

			{{ form_widget(registrationForm.email, {
                'attr': {
                    'class': 'border ps-5 py-2 w-full my-2 me-1',
                    'placeholder': 'Enter your email',
                }
            }) }}
			{{ form_widget(registrationForm.plainPassword, {
            'attr': {
                    'class': 'border ps-5 py-2 w-full my-2 me-1',
                    'placeholder': 'Enter your password',
                }
        }) }}
        <div class="flex flex-row">
            {{ form_widget(registrationForm.agreeTerms) }} 
            <p class="ms-1">
                Agree with terms
            </p>
        </div>
			
			<button type="submit" class="btn bg-blue border-2 border-blue rounded-full text-white px-10 py-3">Register</button>
			{{ form_end(registrationForm) }}

            <p>
                Already an account ? <a href="{{ path("app_login")}}">Login</a>
            </p>
		</div>
	</div>
{% endblock %}
