{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class="container m-auto py-10">
		<div class="flex flex-col justify-center items-center">

    <h1 class="text-4xl md:text-3xl text-blue font-bold pb-5 text-center">
		  Réinitialisez votre mot de passe
	  </h1>

    {{ form_start(resetForm, {
      'attr' : {
        'class' : 'md:w-96 text-center',
      }
    }) }}
    <div class = 'text-red'>
      {{ form_errors(resetForm.plainPassword.first) }}
    </div>
    {{ form_widget(resetForm.plainPassword.first) }}
    {{ form_widget(resetForm.plainPassword.second) }}
      <button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">Envoyer</button>
    {{ form_end(resetForm) }}
</div>
</div>
{% endblock %}