{% extends 'base.html.twig' %}

{% block title %}Ajouter un rendez-vous
{% endblock %}

{% block body %}
	<div class="container mx-auto p-10">
		<div class="flex flex-col md:flex-row justify-center grid-cols-2 md:gap-32">
			<div class="flex flex-col items-center pb-5">
				<h1 class="text-4xl md:text-3xl text-blue font-bold text-center mb-2">
					<div class="flex md:flex-row flex-col items-center justify-center">
						<div class="pe-2">Ajouter un</div>
						<div>rendez-vous</div>
					</div>
				</h1>

				{% for flashError in app.flashes('error') %}
					<div class="text-red">{{ flashError }}</div>
				{% endfor %}

				{% for flashSuccess in app.flashes('success') %}
					<div class="text-green">{{ flashSuccess }}</div>
				{% endfor %}

				{{ form_start(filterForm)}}

				{{ form_widget(filterForm.startedAt) }}
			
				<button type="submit" class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
					Filter
				</button>
				{{ form_end(filterForm) }}				
			
			<div class="flex flex-col">
				{% if dates %}
						{% for date in dates %}
						<button 
						name="selected_date" 
						class="bg-white text-center text-brown rounded-md border py-2 w-80 md:w-96 mb-2">
							{{ date|format_datetime('full', 'none', locale='fr') }}
						</button>	
						{% endfor %}
				{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
