{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block body %}
	<div class="container mx-auto py-10">
		<div class="flex flex-col justify-center items-center">
			<h1 class="text-3xl text-blue font-bold pb-5">
				Bonjour May-Dia
			</h1>

			<div class="flex flex-row justify-center w-full gap-4">
				<div class="flex flex-col justify-start">
					<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
                        <a href=" {{ path('app_admin_appointment') }}">Ajouter un RDV</a>
                    </button>
					<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
                        <a href="">Avis clients</a>
                    </button>

                   	<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
                        <a href="">Messages</a>
                    </button>
				</div>

				<div class="basis-1/2">
					<h2 class="text-2xl text-blue font-bold pb-5">
						Vos rendez-vous programmés
					</h2>
					{% if appointments is empty %}
						<p>Vous n'avez pas de rendez-vous programmé.</p>
					{% else %}
					{% for appointment in appointments %}
					{% set appointmentDate = appointment.startedAt|format_datetime('full', 'none', locale='fr') %}
						{% set appointmentSchedule = appointment.startedAt|format_datetime('none', 'short', locale='fr') %}
						{% set appointmentId = appointment.id %}
						<div class="flex flex-row justity-center items-center w-full bg-white mt-5 p-5">
							<div class="basis-1/2">
								<div class="flex flex-row justify-center items-center gap-5">
									<div>
									{% set userId = appointment.user.id %}
									{% set profile = profiles[userId]  ?? null %}
											{% if profile is not null and profile.picture is defined %}
											<img src="{{ asset('uploads/profiles/' ~ profile.picture) }}" alt="Image du profil" class="object-cover object-center rounded-full h-24 w-24 border border-brown">
											{% else %}
											<img src="{{ asset('img/user_unknown.png') }}" alt="" class="object-cover object-center rounded-full h-24 w-24 border border-brown">
											{% endif %}
									</div>
									<div> 
									<p>
									Utilisateur :
									{{ appointment.user.firstName }}
									{{ appointment.user.lastName }}
								</p>
								<p>
									Date :
									{{ appointmentDate }}
								</p>
								<p>
									Horaire :
									{{ appointmentSchedule }}
								</p>
									</div>
								</div>
								
							</div>

							<div class="basis-1/2 flex flex-col items-end">
								<a href="">
									<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
										Appel vidéo
									</button>
								</a>
								<form action="{{ path('app_admin_appointment_delete', {'id' : appointmentId }) }}" method="POST" class="flex flex-col" >
									<button type="submit" class="bg-white border border-blue rounded-full text-blue w-48 py-3 m-2" onclick="return confirm('Supprimer le rendez-vous ?');">
										Supprimer RDV
									</button>
								</form>
							</div>
						</div>
						
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
