{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block body %}
	<div class="container mx-auto py-10">
		<div class="flex flex-col justify-center items-center">
			<h1 class="text-3xl text-blue font-bold pb-5">
				Hello Admin !
			</h1>

			<div class="flex flex-row w-9/12">
				<div class="basis-1/2">
					<button class="bg-blue border border-blue rounded-full text-white px-20 py-3 m-2">
                        <a href=" {{ path('app_admin_appointment') }}">App appointment</a>
                    </button>

                    <p>
                        Reviews - Avis
                    </p>

                    <p>
                        Message - Messagerie
                    </p>
				</div>

				<div class="basis-1/2">
					<p>Your appointment</p>
					{% for appointment in appointments %}
						{% set appointmentDate = appointment.startedAt|date('m/d/Y') %}
						{% set appointmentSchedule = appointment.startedAt|date('H:i') %}
						<div class="flex flex-row justity-center items-center w-full bg-white mt-5 p-5">
							<div class="basis-1/2">
								<p>
									User :
									{{ appointment.user.firstName }}
									{{ appointment.user.lastName }}
								</p>
								<p>
									Date :
									{{ appointmentDate }}
								</p>
								<p>
									Schedule :
									{{ appointmentSchedule }}
								</p>
							</div>

							<div class="basis-1/2">
								<form class="flex flex-col">
									<button class="bg-blue border border-blue rounded-full text-white px-20 py-3 m-2">
										<a href="">Edit</a>
									</button>
									<button class="bg-white border border-blue rounded-full text-blue px-20 py-3 m-2">
										Delete
									</button>
								</form>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
