{% extends 'base.html.twig' %}

{% block title %}
	Prendre un rendez-vous
{% endblock %}

{% block body %}
	<div class="container mx-auto w-full text-center pt-10 md:pb-0 pb-10">
		<h1 class="font-neuton text-3xl md:text-4xl text-blue font-bold text-center pb-5">
			<div class="flex md:flex-row flex-col items-center justify-center">
				<div class="pe-2">Prendre un</div> 
				<div>rendez-vous</div>
			</div>
		</h1>
		<p class="text-pink pb-5">
			Sélectionnez une date
		</p>

		{# Trier les rendez-vous par date croissante #}
		{% set sortedAppointments = appointments|sort((a, b) => a.startedAt.timestamp - b.startedAt.timestamp) %}

		{# Initialiser une liste de dates uniques #}
		{% set uniqueDates = [] %}

		{# Initialiser les dates actuelles #}
		{% set now = "now"|date('Y-m-d H:i:s') %}

		{# Stocker les dates uniques dans la liste #}
		{% for appointment in sortedAppointments %}
		{% set appointmentDateTime = appointment.startedAt|date('Y-m-d H:i:s') %}
			{% if appointment.isAvailable and appointmentDateTime > now %}
					{% set currentDate = appointment.startedAt|format_datetime('full', 'none', locale='fr') %}
					{% if currentDate not in uniqueDates %}
						{# Combiner la liste actuelle 'uniquesDates' avec la nouvelle liste 'currentDate' #}
						{% set uniqueDates = uniqueDates|merge([currentDate]) %}
					{% endif %}
			{% endif %}
		{% endfor %}

		{# Boucle sur les dates uniques #}
		{% for currentDate in uniqueDates %}
			
			{# Ouvrir une div pour chaque date unique #}
			<button 
			name="selected_date" 
			data-collapse-target="collapse_{{ loop.index }}" 
			class="bg-white text-center text-brown rounded-md border py-2 w-80 md:w-96 mb-2">
				{{ currentDate }}
			</button>

			{# Afficher les horaires associés à cette date #}
			<div data-collapse="collapse_{{ loop.index }}" class="block h-0 flex flex-col items-center overflow-hidden transition-all duration-300 ease-in-out">
				<div class="text-pink">
					Sélectionnez un horaire
					<div class="flex flex-row justify-center items-center mb-2 grid grid-cols-3 gap-4 mt-2">
						{% for appointment in sortedAppointments %}
							{% set appointmentDate = appointment.startedAt|format_datetime('full', 'none', locale='fr') %}
							{% if appointmentDate == currentDate %}
								{% if appointment.isAvailable %}
								<form action="{{ path('app_appointment_submit', {'id': appointment.id}) }}" method="post">
									<button name="selected_schedule" type="submit" onclick="return confirm('Confirmez votre rendez-vous ?');" id="selectSchedule" class="bg-white border rounded-full px-5 py-2 text-brown">
										{{ appointment.startedAt|format_datetime('none', 'short', locale='fr') }}
									</button>
								</form>
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<script>
		const buttons = document.querySelectorAll('[data-collapse-target]');
			buttons.forEach(function (button, index) {
			button.addEventListener("click", function (event) {
			event.preventDefault(); // Empêche le comportement par défaut du bouton
			let selectButton = document.querySelector('[data-collapse-target]')
			buttons.forEach(function (selectButton) {
				if(selectButton == button){
				selectButton.classList.remove("bg-white", "text-brown");
				selectButton.classList.add("bg-pink", "text-white");
				}else{
				selectButton.classList.remove("bg-pink", "text-white");
				selectButton.classList.add("bg-white", "text-brown");
				}
			});

			const targetId = this.getAttribute('data-collapse-target');
			const target = document.querySelector(`[data-collapse="${targetId}"]`);

			// Fermer tous les autres accordéons
			document.querySelectorAll('[data-collapse]').forEach(item => {
			if (item.getAttribute('data-collapse') !== targetId) {
			item.classList.add('h-0');
			item.classList.remove('h-auto');
			}
		});

		// Ouvrir ou fermer l'accordéon cible
		target.classList.toggle('h-auto');
		target.classList.toggle('h-0');
		});
	});
	</script>
{% endblock %}