<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}
				Accueil
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<link rel="stylesheet" href="{{ asset("font-awesome-4.7.0/css/font-awesome.css") }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="flex flex-col min-h-screen bg-beige">
		<header class="sticky top-0 bg-pink text-white">
			<div class="container mx-auto flex flex-row items-center justify-center">
				<div class="basis-1/2 flex md:flex-row flex-col md:items-center items-start justify-center p-5">
					<img class="w-12 md:w-10" src="{{ asset("img/Logo_white_MayDia_Coach.png") }}" alt="Logo">
					<p class="md:ps-5 md:pe-5 hidden sm:block">Coach Développement Personnel - May-Dia Yang</p>
				</div>

				<div class="basis-1/2 flex md:flex-row flex-col md:items-center items-end justify-center p-5">
					<button id="open-menu" class="md:hidden sm:block">
						<i class="fa fa-bars fa-lg" aria-hidden="true"></i>
					</button>
					<button id="close-menu" class="md:hidden hidden sm:block">
						<i class="fa fa-times fa-lg" aria-hidden="true"></i>
					</button>
					<ul class="md:flex flex-wrap items-center justify-center hidden sm:block">
						<li class="p-5">
							<a href="{{ path("home") }}">
								Accueil
							</a>
						</li>
						<li class="p-5">
							<a href="{{ path("app_appointment") }}">
								Rendez-vous
							</a>
						</li>
						<li class="p-5">
							<a href="{{ path("about") }}">
								A propos
							</a>
						</li>
						<li class="p-5">
							<a href="{{ path("contact") }}">
								Contact
							</a>
						</li>
						<li class="p-5">
							<button id="open-modal-btn" class="hidden sm:block">
								<i class="fa fa-user-circle fa-lg"></i>
							</button>
						</li>
					</ul>
				</div>
			</div>

			{# Mobile first menu #}
			<div id="nav-links" class="md:hidden hidden min-h-[580px] sm:flex flex-col items-center justify-center">
				<ul class="text-center sm:block">
					<li class="p-5">
						<a href="{{ path("home") }}">
							Accueil
						</a>
					</li>
					<li class="p-5">
						<a href="{{ path("app_appointment") }}">
							Rendez-vous
						</a>
					</li>
					<li class="p-5">
						<a href="{{ path("about") }}">
							A propos
						</a>
					</li>
					<li class="p-5">
						<a href="{{ path("contact") }}">
							Contact
						</a>
					</li>
					<li class="p-5">
						<button id="open-modal-btn" class="hidden sm:block">
							<i class="fa fa-user-circle fa-lg"></i>
						</button>
						<div class="flex flex-col md:hidden sm:block justify-center items-center">

							{% if is_granted('ROLE_ADMIN') %}
								<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
									<a href=" {{ path('app_admin_appointment') }}">Ajouter un RDV</a>
								</button>
								<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
									<a href="">Avis clients</a>
								</button>

								<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
									<a href="">Messages</a>
								</button>

								<a href="{{ path('app_logout') }}">
									<button class="bg-white border-2 border-blue rounded-full text-blue w-48 py-3 m-2">
										Déconnexion
									</button>
								</a>

							{% elseif is_granted('ROLE_USER') %}
								<a href="{{ path('app_user') }}">
									<button class="bg-blue border-2 border-blue rounded-full text-white w-48 py-3 m-2">
										Mon compte
									</button>
								</a>

								<a href="{{ path('app_profile') }}">
									<button class="bg-blue border-2 border-blue rounded-full text-white w-48 py-3 m-2">
										Mon profil
									</button>
								</a>

								<a href="{{ path('app_logout') }}">
									<button class="bg-white border-2 border-blue rounded-full text-blue w-48 py-3 m-2">
										Déconnexion
									</button>
								</a>

							{% else %}
								<a href="{{ path('app_login') }}">
									<button class="bg-blue border-2 border-blue rounded-full text-white w-48 py-3 m-2">
										Connexion
									</button>
								</a>

								<a href="{{ path('app_register') }}">
									<button class="bg-blue border-2 border-blue rounded-full text-white w-48 py-3 m-2">
										Inscription
									</button>
								</a>
							{% endif %}
						</div>
					</li>
				</ul>
			</div>
		</header>
	
	{% block body %}
	{% endblock %}
	
	<footer class="mt-auto bg-pink text-white">
		<ul class="flex md:flex-row flex-col justify-center items-center">
			<li class="p-5">
				<a href="{{ path('app_privacy_policy') }}">
					Politique de confidentialité
				</a>
			</li>
			<li class="p-5">
				<a href="{{ path('app_legal_notice') }}">
					Mentions légales
				</a>
			</li>
			<li class="p-5">
				<a href="{{ path('app_cgu') }}">
					Conditions Générales d'Utilisation et de Vente
				</a>
			</li>
		</ul>
	</footer>

	{# Modal wrapper #}
	<div id="modal-wrapper" class="fixed z-10 inset-0 hidden">
		<div
		class="flex items-center justify-center min-h-screen bg-blue bg-opacity-50 transition-all">
		{# Modal box #}
		<div class="bg-white p-10 flex flex-col justify-center items-center">
			<span class="flex flex-col items-end text-blue w-48 py-3 m-2">
				<i id="close-modal-btn" class="fa fa-times" aria-hidden="true"></i>
			</span
			>
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('app_admin') }}">
					<button class="bg-blue border-2 border-blue rounded-full text-white w-48 py-3 m-2">
						Mon compte
					</button>
				</a>
				<a href="{{ path('app_logout') }}">
					<button class="bg-white border-2 border-blue rounded-full text-blue w-48 py-3 m-2">
						Déconnexion
					</button>
				</a>
			{% elseif is_granted('ROLE_USER') %}
				<a href="{{ path('app_user') }}">
					<button class="bg-blue border-2 border-blue rounded-full text-white w-48 py-3 m-2">
						Mon compte
					</button>
				</a>

				<a href="{{ path('app_profile') }}">
					<button class="bg-blue border-2 border-blue rounded-full text-white w-48 py-3 m-2">
						Mon profil
					</button>
				</a>

				<a href="{{ path('app_logout') }}">
					<button class="bg-white border-2 border-blue rounded-full text-blue w-48 py-3 m-2">
						Déconnexion
					</button>
				</a>

			{% else %}

				<a href="{{ path('app_login') }}">
					<button class="bg-blue border-2 border-blue rounded-full text-white w-48 py-3 m-2">
						Connexion
					</button>
				</a>

				<a href="{{ path('app_register') }}">
					<button class="bg-blue border-2 border-blue rounded-full text-white w-48 py-3 m-2">
						Inscription
					</button>
				</a>
			{% endif %}
			</div>
		</div>
	</div>

		<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js"></script>

		<script>
			// Menu mobile first
			document.querySelector("#open-menu").addEventListener("click", () => {
			document.querySelector("#nav-links").classList.remove("hidden")
			document.querySelector("#open-menu").classList.add("hidden")
			document.querySelector("#close-menu").classList.remove("hidden")
				})
			document.querySelector("#close-menu").addEventListener("click", () => {
			document.querySelector("#nav-links").classList.add("hidden")
			document.querySelector("#open-menu").classList.remove("hidden")
			document.querySelector("#close-menu").classList.add("hidden")
				})

			// Fenêtre modale
			document.querySelector("#open-modal-btn").addEventListener("click", () => {
			document.querySelector("#modal-wrapper").classList.remove("hidden")
			})
			document.querySelector("#close-modal-btn").addEventListener("click", () => {
			document.querySelector("#modal-wrapper").classList.add("hidden")
			})
		</script>
	</body>
</html>
