{% extends 'base.html.twig' %}

{% block title %}Hello
	{{ app.user.firstName }}
	{{ app.user.lastName }}
{% endblock %}

{% block body %}
	<div class="container mx-auto w-9/12 flex flex-col justify-center pt-10 py-5">
		<h1 class="text-3xl text-blue font-bold pb-5">
			Hello
			{{ app.user.firstName }}
			{{ app.user.lastName }}
		</h1>

		<div class="flex flex-row">
			<div class="basis-1/2">
				<h2>Vos rendez-vous</h2>
				{% for appointment in appointments %}
					{% set appointmentDate = appointment.startedAt|date('m/d/Y') %}
					{% set appointmentSchedule = appointment.startedAt|date('H:i') %}

					<p>
						{{ appointmentDate }}
						{{ appointmentSchedule }}
					</p>
				{% endfor %}

				<h2>
					No appointment scheduled
				</h2>
				<button>
					Book an appointment
				</button>
			</div>

			<div class="basis-1/2">
				<h2>
					Final payments
				</h2>
				<p>
					No tickets
				</p>

				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		</div>
	</div>
</div>{% endblock %}
