{% extends 'base.html.twig' %}

{% block title %}Bonjour
	{{ app.user.firstName }}
	{{ app.user.lastName }}
{% endblock %}

{% block body %}
	<div class="container m-auto w-9/12 flex flex-col justify-center">

		<h1 class="text-3xl text-blue font-bold pb-5">
			Bonjour
			{{ app.user.firstName }}
			{{ app.user.lastName }}
		</h1>

		{% for profile in profiles %}
		<div class="flex flex-row">
			<img class="object-cover object-center rounded-full h-24 w-24" src="{{ asset('uploads/profiles/' ~ profile.picture) }}" alt="Image du profil">
		<p class="ms-2">
			{{ profile.description }}
		</p>
		</div>
		{% endfor %}

		<div class="flex flex-row gap gap-4">
			<div class="basis-1/2">
				<h2 class="text-2xl text-blue font-bold mb-2">Vos rendez-vous</h2>
				{% if appointments|length > 0  %}
				
				{% for appointment in appointments %}
					{% set appointmentDate = appointment.startedAt|format_datetime('full', 'none', locale='fr') %}
					{% set appointmentSchedule = appointment.startedAt|format_datetime('none', 'short', locale='fr') %}
					{% set appointmentIsAvailable = appointment.isAvailable %}
					{% set appointmentId = appointment.id %}

					{# Si l'utilisateur a réservé un ou plusieurs RDV #}
					{% if not appointmentIsAvailable %}
						<div class="flex flex-col justify-center items-center bg-white p-5 border border-brown rounded-lg">
							<p class="text-brown">
								Date : {{ appointmentDate }}
							</p>
							<p class="text-brown">
								Horaire : {{ appointmentSchedule }}
							</p>
						
							<a href="" >
								<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
									Appel vidéo
								</button>
							</a>

							<a href={{ path('app_appointment_edit', {'id': appointmentId }) }}>
								<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
									Modifier
								</button>
							</a>

							<form action="{{ path('app_appointment_cancel', {'id': appointmentId }) }}" method="post">
								<button type="submit" class="bg-white border border-blue rounded-full text-blue w-48 py-3 m-2" onclick="return confirm('Annuler votre rendez-vous ?');">
									Annuler
								</button>
							</form>
						</div>
					{% endif %}
				{% endfor %}
			{% else %}
				{# L'utilisateur n'a aucun RDV #}
				<div class="flex flex-col justify-center items-center bg-white p-10 border border-brown rounded-lg">
					<h2 class="text-2xl text-blue font-bold mb-2">
						Pas de rendez-vous programmé.
					</h2>
					<button class="bg-blue border-blue rounded-full text-white w-48 py-3 m-2">
					<a href="{{ path('app_appointment')}}">
						Prendre un RDV
					</a>
				</button>
				</div>
			{% endif %}
			</div>

			<div class="basis-1/2">
				<h2 class="text-2xl text-blue font-bold mb-2">
					Vos paiements
				</h2>
				<div class="flex flex-col justify-center items-center bg-white p-10 border border-brown rounded-lg">
					<p class="text-brown">
						Pas de ticket. (V2)
					</p>
				</button>
				</div>

				<p class="text-right">
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</p>
			</div>
		</div>
	</div>
</div>{% endblock %}
