{% extends 'base.html.twig' %}

{% block title %}Hello
	{{ app.user.firstName }}
	{{ app.user.lastName }}
{% endblock %}

{% block body %}
	<div class="container mx-auto w-9/12 flex flex-col justify-center pt-10 py-5">
		<h1 class="text-3xl text-blue font-bold pb-5">
			Hello
			{{ app.user.firstName }}
			{{ app.user.lastName }}
		</h1>

		<div class="flex flex-row">
			<div class="basis-1/2">
				<h2 class="text-2xl text-blue font-bold mb-2">Your appointment</h2>
				{% if appointments|length > 0  %}
				
				{% for appointment in appointments %}
					{% set appointmentDate = appointment.startedAt|date('m/d/Y') %}
					{% set appointmentSchedule = appointment.startedAt|date('H:i') %}
					{% set appointmentIsAvailable = appointment.isAvailable %}

					{# Si l'utilisateur a réservé un ou plusieurs RDV #}
					{% if not appointmentIsAvailable %}
						<div class="flex flex-col justify-center items-center bg-white p-5 m-5 border border-brown rounded-lg">
							<div>
							<p>
								Date : {{ appointmentDate }}
							</p>
							<p>
								Schedule : {{ appointmentSchedule }}
							</p>
							</div>
						
						<form class="flex flex-col">
							<button class="bg-blue border border-blue rounded-full text-white px-20 py-3 m-2">
								Video call
							</button>
							<button class="bg-blue border border-blue rounded-full text-white px-20 py-3 m-2">
								Edit
							</button>

							<button class="bg-white border border-blue rounded-full text-blue px-20 py-3 m-2">
								Delete
							</button>
						</form>
						</div>
					{% endif %}
				{% endfor %}
			{% else %}
				{# L'utilisateur n'a aucun de RDV #}
				<div class="flex flex-col justify-center items-center bg-white p-10 m-5 border border-brown rounded-lg">
					<h2 class="text-2xl text-blue font-bold mb-2">
						No appointment scheduled
					</h2>
					<button class="bg-blue border-blue rounded-full text-white mt-5 px-10 py-3">
					<a href="{{ path('app_appointment')}}">
						Book an appointment
					</a>
				</button>
				</div>
			{% endif %}
			</div>

			<div class="basis-1/2">
				<h2 class="text-2xl text-blue font-bold mb-2">
					Final payment
				</h2>
				<div class="flex flex-col justify-center items-center bg-white p-10 m-5 border border-brown rounded-lg">
					<p>
						No tickets.
					</p>
				</button>
				</div>

				<p class="text-right">
					<a href="{{ path('app_logout') }}">Logout</a>
				</p>
			</div>
		</div>
	</div>
</div>{% endblock %}
