{% extends 'base.html.twig' %}

{% block title %}Hello
	{{ app.user.firstName }}
	{{ app.user.lastName }}
{% endblock %}

{% block body %}
	<div class="container mx-auto w-9/12 flex flex-col justify-center pt-10 py-5">

		<h1 class="text-3xl text-blue font-bold pb-5">
			Bonjour
			{{ app.user.firstName }}
			{{ app.user.lastName }}
		</h1>

		{% for profile in profiles %}
		<div class="flex flex-row">
		<img class="w-48 rounded" src="{{ asset('uploads/profiles/' ~ profile.picture) }}" alt="Image du profil">
		<p>
			{{ profile.description }}
		</p>
		</div>
		{% endfor %}

		<div class="flex flex-row">
			<div class="basis-1/2">
				<h2 class="text-2xl text-blue font-bold mb-2">Vos rendez-vous</h2>
				{% if appointments|length > 0  %}
				
				{% for appointment in appointments %}
					{% set appointmentDate = appointment.startedAt|date('m/d/Y') %}
					{% set appointmentSchedule = appointment.startedAt|date('H:i') %}
					{% set appointmentIsAvailable = appointment.isAvailable %}
					{% set appointmentId = appointment.id %}

					{# Si l'utilisateur a réservé un ou plusieurs RDV #}
					{% if not appointmentIsAvailable %}
						<div class="flex flex-col justify-center items-center bg-white p-5 m-5 border border-brown rounded-lg">
							<p>
								Date : {{ appointmentDate }}
							</p>
							<p>
								Schedule : {{ appointmentSchedule }}
							</p>
						
							<a href="" >
								<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
									Video call
								</button>
							</a>

							{# <form action="{{ path('app_appointment_edit', {'id': appointmentId }) }}" method="post"> #}
								<a href={{ path('app_appointment_edit', {'id': appointmentId }) }}>
									<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
										Edit
									</button>
								</a>
							{# </form> #}

							<form action="{{ path('app_appointment_cancel', {'id': appointmentId }) }}" method="post">
								<button type="submit" class="bg-white border border-blue rounded-full text-blue w-48 py-3 m-2" onclick="confirm('Cancel your appointment ?');">
									Cancel
								</button>
							</form>
						</div>
					{% endif %}
				{% endfor %}
			{% else %}
				{# L'utilisateur n'a aucun de RDV #}
				<div class="flex flex-col justify-center items-center bg-white p-10 m-5 border border-brown rounded-lg">
					<h2 class="text-2xl text-blue font-bold mb-2">
						Pas de rendez-vous programmé.
					</h2>
					<button class="bg-blue border-blue rounded-full text-white mt-5 px-10 py-3">
					<a href="{{ path('app_appointment')}}">
						Prendre un RDV
					</a>
				</button>
				</div>
			{% endif %}
			</div>

			<div class="basis-1/2">
				<h2 class="text-2xl text-blue font-bold mb-2">
					Vos paiements
				</h2>
				<div class="flex flex-col justify-center items-center bg-white p-10 m-5 border border-brown rounded-lg">
					<p>
						Pas de tickets.
					</p>
				</button>
				</div>

				<p class="text-right">
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</p>
			</div>
		</div>
	</div>
</div>{% endblock %}
